# ---------------- Python ----------------
__pycache__/
*.pyc
.env
venv/

# ---------------- Node ----------------
node_modules/
dist/
build/

# ---------------- MLflow ----------------
mlruns/
mlflow.db
artifacts/

# ---------------- ML Models (local only) ----------------
*.pkl
*.joblib

# ---------------- OS ----------------
.DS_Store
