# ---------------- Python ----------------
__pycache__/
*.pyc
.env
ml/venv
backend/venv
venv/

# ---------------- Node ----------------
node_modules/
dist/
build/

# ---------------- MLflow ----------------
ml/mlruns/
mlruns/
mlflow.db
artifacts/

# ---------------- ML Models (local only) ----------------
*.pkl
*.joblib

# ---------------- OS ----------------
.DS_Store
